@import url("tokens.css");

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Courier New", Courier, monospace;
  padding: 0.625rem;
  font-size: 1.125rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr auto;
}

footer {
  font-size: 1rem;
  text-align: center;
}

#contact {
  padding: 1rem;
  grid-area: 2 / 1 / 3 / 2;
}

#contact dl {
  display: grid;
  grid-template-columns: repeat(2, 5rem);
  grid-template-rows: repeat(3, 1fr);
  justify-items: start;
}

#about {
  padding: 1rem;
  grid-area: 1 / 2 / 3 / 3;
}

section {
  grid-column: 2;
}

h1 {
  font-size: 2.25rem;
  padding: 1.25rem 0.625rem 0.625rem 0.625rem;
}

h2 {
  font-size: 1.5rem;
}

img {
  max-width: 25rem;
  max-height: 25rem;
  padding: 1rem;
  margin-top: 1rem;
}

a {
  color: var(--color-link);
  font-size: 1.25rem;
}
